.*.swp
.deps/
.libs/
*.la
*.lo
*.pc
*.o
*.so
src/tlm
*Makefile
*Makefile.in
config.h*
configure.in
configure
aclocal.m4
autom4te.cache
config.log
config.status
gtk-doc.make
depcomp
install-sh
missing
*.deps
*dbus*gen*
stamp-h1
config.guess
config.sub
INSTALL
libtool
ltmain.sh
m4/
src/tlm-plugin-types.*
examples/tlm-ui
data/tlm.conf
tests/tlm-test.conf
src/daemon/tlm
src/sessiond/tlm-sessiond
src/utils/tlm-client
src/utils/tlm-weston-launch
tests/config/configtest
tests/daemon/daemontest
