[Unit]
Description=Tizen Login Manager
After=systemd-user-sessions.service systemd-logind.service
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/tlm
#StandardInput=tty
#StandardOutput=journal
#StandardError=journal
#TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
