[Unit]
Description=Tizen Login Manager
After=systemd-user-sessions.service systemd-logind.service dbus.service
Requires=multi-user.target

[Service]
ExecStart=/usr/bin/tlm
#StandardInput=tty
#StandardOutput=journal
#StandardError=journal
#TTYPath=/dev/tty1

[Install]
WantedBy=default.target
